* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lado_direito .nota_aluno {
    width: 150px;
    background-color: rgb(71, 128, 192);
    color: aliceblue;
    text-align: center;
    padding: 50px;
}
.nota_aluno{
    background-color: rgb(71, 128, 192);
    padding: 42px;
}